# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\flashteam\Spring-AOP\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
